@keyframes showHand {
  0% {
    opacity: 0;
    transform: translate(-100vw, 100vh); /
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}




@keyframes scatterLetters {
  0% {
    transform: translate(0, 0) rotate(0);
    opacity: 1;
  }
  30% {
    transform: translate(
        calc(-100vw + var(--random-x) * 200vw),
        calc(-100vh + var(--random-y) * 200vh)
      )
      rotate(calc(var(--random-rotation) * 360deg));
    opacity: 0;
  }
  100% {
    transform: translate(0, 0) rotate(0);
    opacity: 1;
  }
}


@keyframes fist-slide1 {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 26vw);
  }
  0% {
    transform: translate(0, 0);
  }
}

@keyframes fist-slide2 {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -23vw);
  }
  0% {
    transform: translate(0, 0);
  }
}


@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}


@keyframes falling {
  0% {
    top: -10vw;
    transform: rotate(0deg);
  }
  100% {
    top: 102vw;
    transform: rotate(360deg);
  }
}


@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes explosion-appear {
  0% {
    opacity: 0;
    width: 0;
    height: 0;
  }
  20% {
    opacity: 0;
    width: 0;
    height: 0;
  }
  30% {
    opacity: 1;
    width: 30vw;
    height: 30vw;
  }
  40% {
    opacity: 0;
    width: 0;
    height: 0;
  }
  100% {
    opacity: 0;
    width: 0;
    height: 0;
  }
}


@keyframes birdWalk {
  0% {
    background-position: 0 0;
  }
  16.66% {
    background-position: -25vw 0;
  }
  33.33% {
    background-position: -50vw 0;
  }
  50% {
    background-position: -75vw 0;
  }
  66.66% {
    background-position: -100vw 0;
  }
  83.33% {
    background-position: -125vw 0;
  }
}

@keyframes birdMove {
  0% {
    margin-left: -25vw;
  }
  48% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5vw);
  }
  52% {
    transform: translateY(0);
  }
  100% {
    margin-left: 100vw;
  }
}
