@keyframes showHand {
  0% {
    opacity: 0;
    transform: translate(-100vw, 100vh); /
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}


.hand {
  animation: showHand 0.6s ease-out 1s forwards;
  opacity: 0; 
  transform: translate(-100vw, 100vh); 
}

@keyframes scatterLetters {
  0% {
    transform: translate(0, 0) rotate(0);
    opacity: 1;
  }
  30% {
    transform: translate(
        calc(-100vw + var(--random-x) * 200vw),
        calc(-100vh + var(--random-y) * 200vh)
      )
      rotate(calc(var(--random-rotation) * 360deg));
    opacity: 0;
  }
  100% {
    transform: translate(0, 0) rotate(0);
    opacity: 1;
  }
}

.letter {
  animation: scatterLetters 4s ease-in-out 1.5s forwards;
}

.letter:nth-child(1) {
  --random-x: 0.1;
  --random-y: 0.5;
  --random-rotation: 0.3;
}
.letter:nth-child(2) {
  --random-x: 0.8;
  --random-y: 0.2;
  --random-rotation: 0.7;
}
.letter:nth-child(3) {
  --random-x: 0.4;
  --random-y: 0.9;
  --random-rotation: 0.2;
}
.letter:nth-child(4) {
  --random-x: 0.7;
  --random-y: 0.6;
  --random-rotation: 0.5;
}
.letter:nth-child(5) {
  --random-x: 0.3;
  --random-y: 0.3;
  --random-rotation: 0.9;
}
.letter:nth-child(6) {
  --random-x: 0.6;
  --random-y: 0.8;
  --random-rotation: 0.1;
}
.letter:nth-child(7) {
  --random-x: 0.2;
  --random-y: 0.7;
  --random-rotation: 0.4;
}
.letter:nth-child(8) {
  --random-x: 0.9;
  --random-y: 0.4;
  --random-rotation: 0.8;
}
.letter:nth-child(9) {
  --random-x: 0.5;
  --random-y: 0.1;
  --random-rotation: 0.6;
}
.letter:nth-child(10) {
  --random-x: 0.7;
  --random-y: 0.5;
  --random-rotation: 0.2;
}
.letter:nth-child(11) {
  --random-x: 0.3;
  --random-y: 0.9;
  --random-rotation: 0.7;
}
.letter:nth-child(12) {
  --random-x: 0.8;
  --random-y: 0.3;
  --random-rotation: 0.3;
}
.letter:nth-child(13) {
  --random-x: 0.6;
  --random-y: 0.6;
  --random-rotation: 0.5;
}
.letter:nth-child(14) {
  --random-x: 0.4;
  --random-y: 0.2;
  --random-rotation: 0.9;
}
.letter:nth-child(15) {
  --random-x: 0.9;
  --random-y: 0.7;
  --random-rotation: 0.1;
}
