body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: white;
  overflow-x: hidden;
}

body {
  font-family: "Roboto Flex", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
.hand {
  animation: showHand 0.6s ease-out 1s forwards;
  opacity: 0;
  transform: translate(-100vw, 100vh);
}

.letter {
  animation: scatterLetters 4s ease-in-out 1.5s forwards;
}

.letter:nth-child(1) {
  --random-x: 0.1;
  --random-y: 0.5;
  --random-rotation: 0.3;
}
.letter:nth-child(2) {
  --random-x: 0.8;
  --random-y: 0.2;
  --random-rotation: 0.7;
}
.letter:nth-child(3) {
  --random-x: 0.4;
  --random-y: 0.9;
  --random-rotation: 0.2;
}
.letter:nth-child(4) {
  --random-x: 0.7;
  --random-y: 0.6;
  --random-rotation: 0.5;
}
.letter:nth-child(5) {
  --random-x: 0.3;
  --random-y: 0.3;
  --random-rotation: 0.9;
}
.letter:nth-child(6) {
  --random-x: 0.6;
  --random-y: 0.8;
  --random-rotation: 0.1;
}
.letter:nth-child(7) {
  --random-x: 0.2;
  --random-y: 0.7;
  --random-rotation: 0.4;
}
.letter:nth-child(8) {
  --random-x: 0.9;
  --random-y: 0.4;
  --random-rotation: 0.8;
}
.letter:nth-child(9) {
  --random-x: 0.5;
  --random-y: 0.1;
  --random-rotation: 0.6;
}
.letter:nth-child(10) {
  --random-x: 0.7;
  --random-y: 0.5;
  --random-rotation: 0.2;
}
.letter:nth-child(11) {
  --random-x: 0.3;
  --random-y: 0.9;
  --random-rotation: 0.7;
}
.letter:nth-child(12) {
  --random-x: 0.8;
  --random-y: 0.3;
  --random-rotation: 0.3;
}
.letter:nth-child(13) {
  --random-x: 0.6;
  --random-y: 0.6;
  --random-rotation: 0.5;
}
.letter:nth-child(14) {
  --random-x: 0.4;
  --random-y: 0.2;
  --random-rotation: 0.9;
}
.letter:nth-child(15) {
  --random-x: 0.9;
  --random-y: 0.7;
  --random-rotation: 0.1;
}

#marquee {
  width: 100vw;
  min-height: 9vw;
  background-color: white;
  display: flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  text-transform: uppercase;
}

.marquee1 p {
  animation: marquee 5s linear infinite;
  color: #000000;
  font-size: 5.6vw;
  font-weight: 650;
}

span {
  position: relative;
  display: inline-block;
  margin: 0 5px;
}

span::after {
  content: "";
  position: absolute;
  width: 20vw;
  height: 22vw;
  top: -1vw;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 10;
}

.word-people:hover::after {
  opacity: 1;
  background-image: url("../images/word-people.png");
}

.word-fight:hover::after {
  opacity: 1;
  background-image: url("../images/word-roosters.svg");
}

.word-roosters:hover::after {
  opacity: 1;
  background-image: url("../images/word-roosters.svg");
}

.word-watch:hover::after {
  opacity: 1;
  background-image: url("../images/word-roosters.svg");
}

.marquee1 p:hover {
  animation-play-state: paused;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: -1vw;
  padding-bottom: 2vw;
}

.text-line {
  display: flex;
  margin-bottom: -3vw;
}
.text-line:nth-child(1) {
  margin-top: 10vw;
}

.text-line:nth-child(2) .letter {
  font-size: 20.7vw;
}

.text-line:nth-child(3) {
  margin-bottom: 10vw;
}
.text-line:nth-child(3) .letter {
  font-size: 20.5vw;
}

.letter {
  font-size: 19vw;
  font-weight: 800;
  color: #d1293c;
  margin: 0.2vw;
  display: inline-block;
  opacity: 1;
}

.animation-section {
  width: 100vw;
  min-height: 58vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  background-color: #000000;
}

.hand {
  width: 80vw;
  height: 80vh;
  background-image: url("../images/kulak1.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 7vw;
  left: -7vw;
  z-index: 10;
  opacity: 0;
  max-width: 100%;
  max-height: 100%;
}

.new-section {
  display: flex;
  width: 100%;
  height: 90vh;
}

.block-left {
  width: 60%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: #d1293c;
}

.block-left::after {
  content: "";
  position: absolute;
  top: 5vw;
  left: 13vw;
  width: 32vw;
  height: 35vw;
  background-image: url("../images/rotate.svg");
  background-size: cover;
  z-index: 0;
  animation: rotate 3s linear infinite;
}

.hover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.2s ease;
  position: relative;
  z-index: 1;
}

.block-left:hover .hover-image {
  opacity: 0;
}

.block-left:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/second.svg");
  background-size: cover;
  opacity: 1;
  z-index: 2;
}

.block-right {
  width: 40%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-image: url("../images/peria.svg");
  background-size: cover;
  background-position: center -8vw;
}

.feathers::before {
  width: 5vw;
  content: "";
  position: absolute;
  top: -10vw;
  width: 13.5vw;
  height: 10vw;
  background-image: url("../images/falling-feathers.svg");
  background-size: contain;
  z-index: 10;
  animation: falling 5s linear infinite;
  background-repeat: no-repeat;
  pointer-events: none;
}

.feathers-1::before {
  left: 2%;
  animation-delay: 0s;
}
.feathers-2::before {
  left: 15%;
  animation-delay: 2.5s;
}
.feathers-3::before {
  left: 25%;
  animation-delay: 1.5s;
}
.feathers-4::before {
  left: 35%;
  animation-delay: 3s;
}
.feathers-5::before {
  left: 45%;
  animation-delay: 1s;
}
.feathers-6::before {
  left: 55%;
  animation-delay: 0.5s;
}
.feathers-7::before {
  left: 65%;
  animation-delay: 4s;
}
.feathers-8::before {
  left: 75%;
  animation-delay: 2s;
}
.feathers-9::before {
  left: 85%;
  animation-delay: 3s;
}
.feathers-10::before {
  left: 95%;
  animation-delay: 0.5s;
}

.deform-explode-section {
  display: flex;
  width: 100%;
  min-height: 43vw !important;
}

.block-left2 {
  width: 60%;
  height: 43vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  font-size: 3vw;
  font-weight: bold;
  text-align: center;
  padding: 2vw;
  box-sizing: border-box;
  overflow: hidden;
}

.deform-text-line1 {
  font-size: 5vw;
  color: white;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.1em;
  margin: 2vw 0;
  height: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.deform-letter {
  display: inline-block;
  height: 10vw;
  display: flex;
  align-items: center;
  transform-origin: center;
}

.line1 .deform-letter {
  animation: scaleLetterTop 3s ease-in-out infinite;
}

.line2 .deform-letter {
  animation: scaleLetterBottom 3s ease-in-out infinite;
}

.line1 .deform-letter:nth-child(1) {
  animation-delay: 0s;
}
.line1 .deform-letter:nth-child(2) {
  animation-delay: 0.2s;
}
.line1 .deform-letter:nth-child(3) {
  animation-delay: 0.4s;
}
.line1 .deform-letter:nth-child(5) {
  animation-delay: 0.6s;
}
.line1 .deform-letter:nth-child(6) {
  animation-delay: 0.8s;
}
.line1 .deform-letter:nth-child(7) {
  animation-delay: 1s;
}
.line1 .deform-letter:nth-child(8) {
  animation-delay: 1.2s;
}
.line1 .deform-letter:nth-child(9) {
  animation-delay: 1.4s;
}
.line1 .deform-letter:nth-child(10) {
  animation-delay: 1.6s;
}
.line1 .deform-letter:nth-child(11) {
  animation-delay: 1.8s;
}
.line1 .deform-letter:nth-child(12) {
  animation-delay: 2s;
}
.line1 .deform-letter:nth-child(13) {
  animation-delay: 2.2s;
}

.line2 .deform-letter:nth-child(1) {
  animation-delay: 0s;
}
.line2 .deform-letter:nth-child(2) {
  animation-delay: 0.2s;
}
.line2 .deform-letter:nth-child(3) {
  animation-delay: 0.4s;
}
.line2 .deform-letter:nth-child(5) {
  animation-delay: 0.6s;
}
.line2 .deform-letter:nth-child(6) {
  animation-delay: 0.8s;
}
.line2 .deform-letter:nth-child(7) {
  animation-delay: 1s;
}
.line2 .deform-letter:nth-child(8) {
  animation-delay: 1.2s;
}
.line2 .deform-letter:nth-child(9) {
  animation-delay: 1.4s;
}
.line2 .deform-letter:nth-child(10) {
  animation-delay: 1.6s;
}
.line2 .deform-letter:nth-child(11) {
  animation-delay: 1.8s;
}
.line2 .deform-letter:nth-child(12) {
  animation-delay: 2s;
}
.line2 .deform-letter:nth-child(13) {
  animation-delay: 2.2s;
}

@keyframes scaleLetterTop {
  0%,
  100% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 6);
  }
}

@keyframes scaleLetterBottom {
  0%,
  100% {
    transform: scale(1, 6);
  }
  50% {
    transform: scale(1, 1);
  }
}

.block-right2 {
  width: 40%;
  height: 100% !important;
  min-height: 100% !important;
  position: relative;
  background-color: #ffffff;
  overflow: hidden;
}

.deform-text-line {
  margin: 1vw 0;
  font-weight: bold;
  font-size: 8vw;
  color: white;
  text-align: center;
}

.fist-fist-left,
.fist-fist-right {
  position: absolute;
  width: 28vw;
  height: 28vw;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 2;
}

.fist-fist-left {
  top: -26vw;
  left: 20vw;
  background-image: url("../images/first-kulak.svg");
  animation: fist-slide1 2s linear infinite;
}

.fist-fist-right {
  top: 42vw;
  bottom: 0;
  background-image: url("../images/second-kulak.svg");
  animation-delay: 2s;
  animation: fist-slide2 2s linear infinite;
}

.explosion {
  position: absolute;
  width: 40vw;
  height: 45vw;
  left: 1vw;
  background-image: url("../images/boomm.svg");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
  animation: rotate 2s linear infinite;
}

.bird-section {
  width: 100vw;
  height: auto;
}

.bird-container {
  width: 100vw;
  height: 23vw;
  position: relative;
  background-color: #d1293c;
  overflow: hidden;
}

.bird {
  width: 25vw;
  height: 25vw;
  background-image: url("../images/bird-walk.svg");
  background-repeat: no-repeat;
  background-size: 150vw auto;
  position: relative;
  z-index: 2;
  left: 0;
  animation: birdWalk 0.8s infinite steps(1), birdMove 4s infinite linear;
}

.hover-image-section {
  height: auto;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: #f0f0f0;
}

.hover-image-container {
  width: 100vw;
  height: 100vw;
  max-height: 100vh;
  position: relative;
  overflow: hidden;
}

.changeable-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.5s ease;
}

.default-image {
  opacity: 1;
}

.hover-image1 {
  opacity: 0;
}

.hover-image-container:hover .default-image {
  opacity: 0;
}

.hover-image-container:hover .hover-image1 {
  opacity: 1;
}

.footer-section {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
  box-sizing: border-box;
}

.footer-text {
  position: relative;
  z-index: 2;
  color: #d1293c;
  font-family: "Roboto Flex", sans-serif;
  left: 4vw;
  top: 5.8vw;
  font-size: 5vw;
  line-height: 1;
  font-weight: 700;
}

.feather {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform 0.5s ease;
  z-index: 3;
}

.feather-1 {
  background-image: url("../images/pero1.svg");
  width: 20vw;
  height: 20vw;
  top: 5vw;
  left: 2vw;
  transform: translateX(0) translateY(0);
}

.feather-2 {
  background-image: url("../images/pero2.svg");
  width: 17vw;
  height: 17vw;
  top: 9.5vw;
  left: 18vw;
  transform: translateX(0) translateY(0);
}

.feather-3 {
  background-image: url("../images/pero3.svg");
  width: 9vw;
  height: 9vw;
  top: 9vw;
  left: 37vw;
  transform: translateX(0) translateY(0);
}

.footer-text:hover ~ .feather-1 {
  transform: translateX(-10vw) translateY(-5vw);
}

.footer-text:hover ~ .feather-2 {
  transform: translateX(10vw) translateY(5vw);
}

.footer-text:hover ~ .feather-3 {
  transform: translateX(5vw) translateY(-10vw);
}
