body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  overflow: hidden;
}
body {
  font-family: "Roboto Flex", sans-serif;
}

.animation-section {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-line {
  display: flex;
}

.letter {
  font-size: 20vw;
  font-weight: 800;
  color: #d1293c;
  margin: 0.2vw;
  display: inline-block;
  opacity: 1;
}

.hand {
  width: 80vw;
  height: 80vh;
  background-image: url("../images/kulak.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: fixed;
  top: 14vw;
  left: 0;
  z-index: 10;
  opacity: 0;
}
