body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  overflow: hidden;
}

.animation-section {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-line {
  display: flex;
  margin: 2vw 0;
}

.letter {
  font-size: 12vw;
  font-weight: bold;
  color: #e60000;
  margin: 0 1vw;
  display: inline-block;
  opacity: 1;
}

.hand {
  width: 100vw;
  height: 100vh;
  background-image: url("../images/kulak.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  opacity: 0;
}
